<div class="container">
  <div class="row">
    <div class="col-md-4">
  
    </div>

    <div class="col-md-4">
      <h4>Welcome to TigerAuth</h4>
      <form [formGroup]="clientRegisterForm">
        <div class="form-group">

          <div class="form-control">
            <label for="official_name">Official Name</label>
            <br>
            <input type="text" formControlName="official_name" placeholder="Official Name">
          </div>
          <br>

          <div class="form-control" style="border: none">
            <label for="website">Website</label>
            <br>
            <input type="text" formControlName="website" placeholder="Website">
          </div>
          <br>

          <div class="form-control">
            <label for="email">Email ID</label>
            <br>
            <input type="email" formControlName="email" placeholder="Email ID">
          </div>
          <br>

          <div class="form-control">
            <label for="redirect_url">Redirect URL</label>
            <br>
            <input type="text" formControlName="redirect_url" placeholder="Redirect URL">
          </div>
          <br>

        </div>
        <br>

        <button class="btn btn-secondary" (click)="registerClient()" >Register</button>
        <br>
      </form>
    </div>

    <div class="col-md-4">

    </div>
  </div>
</div>