<body>
  <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" id="app">
      <div class="card">
        <div><video #video id="video" width="640" height="480" autoplay></video></div>
        <div><button id="submit_button" (click)="capture()">Snap Photo</button></div>
        <canvas #canvas width="640" height="480" id="canvas"></canvas>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</body>

<!-- <div id="app">
  <div><video #video id="video" width="640" height="480" autoplay></video></div>
  <div><button id="snap" (click)="capture()">Snap Photo</button></div>
  <canvas #canvas id="canvas" width="640" height="480"></canvas>
  <ul>
    <li *ngFor="let c of captures">
      <img src="{{ c }}" height="50" download />
    </li>
  </ul>
</div> -->