<!--take help in angular-->
<body>
  <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
  <div class="container">
    <table class="table table-striped">
        <tr>
            <th>WEBSITE</th>
            <th>USER NAME</th>
            <th>MOBILE</th>
            <th>AGE (DOB)</th>
          </tr>
          <tr class="card1" *ngFor="let x of userPermissions">
              <td class="spaced_data">{{x.client}}</td>
              <td>{{x.name}}</td>
              <td>{{x.dateOfBirth}}</td>
              <td>{{x.phone}}</td>
            </tr>
    </table>
  </div>
</body>
