p
{
    display: inline;
}
.table-striped{
    width: 100%;
}
.card{
    margin-top: 5%;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10);
    width: 100%;
    border: 1px solid #ffffff;
    /* margin-top: 1.5%; */
    margin-bottom:1.5%;
    font-family: 'Noticia Text', serif;
    font-size: 18px;
    background: #ffffff;
}
.card:hover{
    box-shadow: 0 20px 30px rgba(0,0,0,0.20);
}
.name{
    background-color: #1e91ca;
    color: white;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    padding: 2%;
}
.name_text{
    margin-left: 2%;
}