body{
    background:url("../../assets/login4.jpg");
    overflow: hidden;
    background-size: cover;
    width: 100%;
    min-height: 100%;
}
.card{
    box-shadow: 0 10px 20px rgba(255,255,255,0.10);
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top: 8%;
    margin-bottom:8%;
    font-family: 'Noticia Text', serif;
    font-size: 20px;
    background: #ffffff;
    width:90%;
    display:block;
    margin-left:auto;
    margin-right: auto;
    padding: 3% 3% 3% 3%

}
.card:hover{
    box-shadow: 0 20px 30px rgba(255,255,255,0.40);
}
.image{
    width:80%;
    height:80%;
    margin-left: auto;
    margin-right:auto;
}
#Website{
    -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background-color: #043246;
   color: white;
   width:20%;
   margin-left:2%;

}
.inner_card1{
    box-shadow: 0 5px 10px rgba(0,0,0,0.10);
    border: none;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    text-align: center;
    max-width: 150px;
    max-height:100px;
    margin-top: 4%;
    margin-left: 3%;
    background-image:linear-gradient(to right,#3087ac,#b5def0)
}
.inner_card2{
    box-shadow: 0 10px 15px rgba(0,0,0,0.10);
    border: none;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    text-align: center;
    margin-left: 4%;
    max-width: 150px;
    max-height: 100px;
    margin-top:4%;
    margin-right:11%;
    background-image:linear-gradient(to right,#3087ac,#b5def0)
}
p{
    font-size: 20;
}

