body{
    /*background:url("../../assets/login4.jpg");*/
    overflow: hidden;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    background:#e5e7e5;
}
.card{
    box-shadow: 0 10px 20px rgba(0,0,0,0.10);
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom:8%;
    font-family: 'Noticia Text', serif;
    font-size: 20px;
    background: #ffffff;
    width:75%;
    display:block;
    margin-left:auto;
    margin-right: auto;
    padding: 3% 3% 3% 3%

}
.card:hover{
    box-shadow: 0 20px 30px rgba(0,0,0,0.40);
}
.image{
    width:70%;
    height:70%;
    display:block;
    margin-left: auto;
    margin-right:auto;
    margin-top:1.5%;
}
#Website{
    -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background-color: #000076;
   color: white;
   width:20%;
   margin-left:2%;

}
#inner_card1{
    box-shadow: 0 5px 10px rgba(0,0,0,0.10);
    border: none;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    text-align: center;
    max-width: 150px;
    max-height:100px;
    margin-top: 2%;
    margin-left: 25%;
    margin-bottom:1%;
    background-image:linear-gradient(to right,#f26223,#e78358);
    color:white;
}
#inner_card2{
    box-shadow: 0 10px 15px rgba(0,0,0,0.10);
    border: none;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    text-align: center;
    margin-left: 15%;
    max-width: 150px;
    max-height: 100px;
    margin-top:2%;
    margin-right:18%;
    margin-bottom:1%;
    background-image:linear-gradient(to right,#f26223,#e78358);
    color:white;
}
p{
    font-size: 20;
    opacity:1;
}
.select_text{
   margin-left:30%;
}
hr {
    display: block;
    height: 1.5px;
    border: 0;
    border-top: 1px solid rgb(155, 151, 151);
    padding: 0;
    width:80%;
    opacity:0.9;
}

