img {
    width: 30;
    height:30;
}
nav, a{
    background-color:#72cee3;
    color:rgb(51, 50, 50);
    font-family: 'Noticia Text', serif;
    max-height: 10%;
}
a{
    float: left;
    background-size:contain;
}

.navbar-brand {
    position: relative;
    height:auto;
    width:auto;
    /*background-size:contain;*/
}
/*
li{
    border-left: 1px solid rgb(51, 50, 50);
} */