img {
    width: 30;
    height:30;
}
nav{
    background-image: linear-gradient(to right, #000076,#1c90c6);
    color:white;
    font-family: 'Noticia Text', serif;
    max-height: 10%;
    font-weight:40;
    font-size: 18px;
}
a{
    float: left;
    background-size:contain;
    color:white;
    font-family: 'Noticia Text', serif;
    max-height: 10%;
    font-weight:20;
}

.navbar-brand {
    position: relative;
    height:auto;
    width:auto;
    /*background-size:contain;*/
}

li{
    opacity:0.75;
}
li:hover{
    opacity:1;
}
.dropdown-item{
    color:rgb(22, 22, 22);
}