img {
    width: 30;
    height:30;
}
nav{
    background:rgb(2, 7, 73);
    /* rgb(155, 35, 103), */
    color:white;
    font-family: 'Noticia Text', serif;
    max-height: 10%;
    font-weight:bold;
    font-size: 18px;
}
a{
    float: left;
    background-size:contain;
    color:white;
    font-family: 'Noticia Text', serif;
    max-height: 10%;
    font-weight:bold;
}

.navbar-brand {
    position: relative;
    height:auto;
    width:auto;
    /*background-size:contain;*/
}

li{
    opacity:0.75;
}
li:hover{
    opacity:1;
}
.dropdown-item{
    color:rgb(22, 22, 22);
}