<div class="container" style="width: 100%">

  <div class="row" style="align-content: center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2>Welcome to TigerAuth</h2>

<form [formGroup]="clientLoginForm">
  <div class="form-group">

    <div class="form-control" style="border:none">
      <label for="client_id">Client ID</label>
      <br>
      <input type="text" formControlName="client_id" placeholder="Client ID">
    </div>
    <br>
    <br>

    <div class="form-control" style="border:none">
      <label for="client_secret">Client Secret</label>
      <br>
      <input type="text" formControlName="client_secret" placeholder="Client Secret">
    </div>
    <br>
    <br>
    <button class="btn btn-primary" (click)="validateClient()">Login</button>
    <br>
  </div>
</form>
    </div>
    <div class="col-md-4"></div>

  </div>
</div> 
