<div class="container" style="width: 100%">

  <div class="row" style="align-content: center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2>Welcome to TigerAuth</h2>

      <h3>Login</h3>

      <form [formGroup]="loginForm">
        <div class="form-group">

          <div class="form-control" style="border:none">
            <label for="username">Username</label>
            <br>
            <input type="text" formControlName="username" placeholder="Username">
          </div>
          <br>
          <br>
          <button class="btn btn-primary" (click)="checkUsername()">Next</button>
          <br>

          <h4>OR</h4>
          <button class="btn btn-secondary" (click)="redirectToRegister()">Register</button>

        </div>
      </form>
    </div>
    <div class="col-md-4"></div>

  </div>
</div>