<!--login form left-->
<body>
  <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card_header">
            <h4>TigerAuth Login</h4>
          </div>
          <form [formGroup]="loginForm">
            <div class="form-group">

              <div class="form-control form_element">
                <label class="label" for="username">Username</label>
                <br>
                <input class="input_field" type="text" formControlName="username" placeholder="First Name"
                  (change)="change()">
              </div>
              <br>
              <br>
              <br>

              <button class="btn btn-secondary" (click)="checkUsername()" id="submit_button">Next</button>
              <br>
            </div>
          </form>
          <button class="btn btn-secondary" (click)="redirectToRegister()" id="submit_button">Register</button>

        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div>
  </div>
</body>