<body>
  <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card_header">
            <h4>Add Credentials</h4>
          </div>
          <form [formGroup]="addCredentialsForm">
            <div class="form-group">
              <div class="form-control form_element">
                <label class="label" for="domainName">Website Address</label>
                <br>
                <input class="input_field" type="text" formControlName="domainName" placeholder="Website Address">
              </div>
              <br>
              <div class="form-control form_element">
                <label class="label" for="username">Username or Email ID</label>
                <br>
                <input class="input_field" type="text" formControlName="username" placeholder="Username or Email">
              </div>
              <br>
              <div class="form-control form_element">
                <label class="label" for="password">Password</label>
                <br>
                <input class="input_field" type="password" formControlName="password" placeholder="Password">
              </div>
              <br>
              <button class="btn btn-secondary" (click)="insertCredentials()" id="submit_button1">Add Credentials to
                TigerAuth</button>
            </div>
            <hr>
          </form>
        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div>
  </div>
</body>