<body>
    <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
    <!-- <div *ngIf="isLogin">
        <app-navbar></app-navbar>
    </div> -->
    <!-- <div *ngIf="!isLogin"> -->
        <div class="pseudo_navbar">
            <div class="description">
                <img class="logo" src="../../assets/logo.png" height="30" alt="app logo">
                <span class="name">TigerAuth</span>
            </div>
        </div>
    <!-- </div> -->
    <!-- <h1>TIGER AUTH</h1> -->
    <!-- <app-register></app-register> -->
    <!-- <app-face-scan></app-face-scan> -->
    <router-outlet style="width: 100%"></router-outlet>
</body>