<body>
  <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
  <div class="container">
      <table>
        <tr>
          <th>DOMAIN NAME</th>
          <th>USER NAME / EMAIL ID</th>
          <th>PASSWORD</th>
        </tr>
      </table>
      <table class="table-striped">
        <tr class="card1" *ngFor="let c of newArr">
          <td class="spaced_data">{{c.domainName}}</td>
          <td>{{c.username}}</td>
          <td *ngIf="c.show">{{c.password}}</td>
          <td *ngIf="c.show" (click)="toggle(c)">Hide Password</td>
          <td *ngIf="!c.show" (click)="toggle(c)">Show Password </td>
        </tr>
      </table> 
  </div>
</body>
