<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
<!-- <div class="card">
  <div class="name">{{clientName}} requires :</div>
  <div *ngIf="clientRequiresFace"> <p>Face</p></div>
  <div *ngIf="clientRequiresOtp"><p>OTP</p></div>
  <div *ngIf="clientRequiresVoice"><p>Voice</p></div>
</div> -->

<div class="card">
  <div class="name">{{clientName}} requires:</div>
  <p>Face</p>
  <p>Voice</p>
  <p>OTP</p>
</div>

<!-- <div *ngFor="let user of userList" (click)="selectUser(user)"  >
  <li>{{user.username}}</li>0
  <li> Face - {{user.faceTokenCheck}} Voice - {{user.voiceTokenCheck}}  Otp- {{user.otpTokenCheck}}</li> 
</div> -->

<div class="card">
  <table class="table-stripped">
    <tr>
      <th>Username</th>
      <th>Face</th>
      <th>Voice</th>
      <th>OTP</th>
    </tr>
    <tr>
      <td>abc</td>
      <td>True</td>
      <td>True</td>
      <td>False</td>
    </tr>
    <tr>
      <td>def</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
    </tr>
  </table>
  <!-- <button (submit)="goToLogin()">Add Account</button> -->
</div>
</div>
<div class="col-md-1"></div>
</div>
</div>
Try changing value of condition in .ts file
<div *ngIf="condition"> Will activate when true

</div>
<div *ngIf="!condition"> WIll activate when false since !false = true</div>
