<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <div class="card">
        <div class="name"><span class="name_text">{{clientName}} requires:</span></div>
        <span class="name_text">
        <div *ngIf="clientRequiresFace"><img src="../../assets/tick.png" class="img_user">  Face</div>
        <div *ngIf="!clientRequiresFace"><img src="../../assets/cross.png" class="img_user">  Face</div>
        <div *ngIf="clientRequiresOtp"><img src="../../assets/tick.png" class="img_user">  OTP</div>
        <div *ngIf="!clientRequiresOtp"><img src="../../assets/cross.png" class="img_user">  OTP</div>
        <div *ngIf="clientRequiresVoice"><img src="../../assets/tick.png" class="img_user">  Voice</div>
        <div *ngIf="!clientRequiresVoice"><img src="../../assets/cross.png" class="img_user">  Voice</div>
      </span>
      </div>


      <div class="card">
      <div class="name"><span class="name_text">User's specified biometrics:</span></div>
        <table class="table table-striped">
          <tr>
            <th class="usr_name">Username</th>
            <th class="per">Face</th>
            <th class="per">Voice</th>
            <th class="per">OTP</th>
          </tr>

          <tr *ngFor="let user of userList, let i = index" (click)="selectUser(i)">
            <td class="usr_name"><a>{{user.username}}</a></td>
            <td *ngIf="user.faceTokenCheck" class="per"><img src="../../assets/tick.png" class="img_tbl"></td>
            <td *ngIf="!user.faceTokenCheck" class="per"><img src="../../assets/cross.png" class="img_tbl"></td>
            <td *ngIf="user.voiceTokenCheck" class="per"><img src="../../assets/tick.png" class="img_tbl"></td>
            <td *ngIf="!user.voiceTokenCheck" class="per"><img src="../../assets/cross.png" class="img_tbl"></td>
            <td *ngIf="user.otpTokenCheck" class="per"><img src="../../assets/tick.png" class="img_tbl"></td>
            <td *ngIf="!user.otpTokenCheck" class="per"><img src="../../assets/cross.png" class="img_tbl"></td>
          </tr>
            
          
          <!-- <tr>
            <td class="usr_name">def</td>
            <td><img src="../../assets/tick.png" class="img_tbl"></td>
            <td><img src="../../assets/cross.png" class="img_tbl"></td>
            <td><img src="../../assets/cross.png" class="img_tbl"></td>
          </tr>
          <tr>
            <td class="usr_name">def</td>
            <td><img src="../../assets/tick.png" class="img_tbl"></td>
            <td><img src="../../assets/cross.png" class="img_tbl"></td>
            <td><img src="../../assets/tick.png" class="img_tbl"></td>
          </tr> -->
        </table>
        <button (submit)="addAccount()">Add Account</button>
      </div>
</div>
<div class="col-md-2"></div>
</div>
</div>
