<body *ngIf="enable"> 
  <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
  <div class="container">
    <div class="card">
      <div class="card_header">
        User Profile
      </div>
        <div class="image">
            <img src="../../assets/profile.png"> 
        </div>
      <div class="form_text">
      <form [formGroup]="updateProfileForm">
        <div class="form-group">
          <div class="form-control">
            <label class="label" for="first_name">First Name</label>
            <br>
            <input class="input_field" type="text" formControlName="first_name" value="{{firstName}}" placeholder="{{firstName}}">
          </div>
          <br>

          <div class="form-control" style="border: none">
            <label class="label" for="last_name">Last Name</label>
            <br>
            <input class="input_field" type="text" formControlName="last_name" value="{{lastName}}" placeholder="Last Name">
          </div>
          <br>

          <!-- Put this in a modal later -->
          <div class="form-control">
            <label class="label" for="username">Username</label>
            <br>
            <input class="input_field" type="text" formControlName="username" value="{{username}}" placeholder="Username">
          </div>
          <br>


          <div class="form-control">
            <label class="label" for="mobile">Mobile</label>
            <br>
            <input class="input_field" type="number" formControlName="mobile" value="{{mobile}}" placeholder="Mobile">
          </div>
          <br>

          <div class="form-control">
            <label class="label" for="dob">Date of Birth</label>
            <br>
            <input class="input_field" type="date" formControlName="dob" value="{{dob}}" placeholder="Date of Birth">
          </div>
          <br>

        </div>
      </form>
      </div>
      <button class="btn btn-secondary submit_button" (click)="enableEdit()">{{buttonValue}}</button>
        <br>
    </div>
  </div>
</body>