body{
    /*background:url("../../assets/login4.jpg");*/
    overflow: hidden;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    background:#edeeed;
}
.card1{
    box-shadow: 0 10px 20px rgba(0,0,0,0.10);
    width: 100%;
    border: 1px solid #ffffff;
    /* margin-top: 1.5%; */
    margin-bottom:1.5%;
    font-family: 'Noticia Text', serif;
    font-size: 18px;
    background: #ffffff;
}
.card1:hover{
    box-shadow: 0 20px 30px rgba(0,0,0,0.20);
}
.container{
    padding-top: 5%;
    width:90%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20%;
}
/* table:hover{
    box-shadow: 0 20px 30px rgba(0,0,0,0.40);
} */
table { 
    width:100%;
    border-collapse: separate;
    border-spacing: 0 1em; 
    background:#edeeed;

} 
th { 
    background:#f26223; 
    color:white; 
    width:25%;
    height:10%;
        /* width:25%;  */
        text-align:center;  
        padding:1%;
        margin-bottom:-100%;
 
        /* padding-left: 2%; */
    
} 
td { 
    width:25%; 
    text-align:center;  
    padding:1%; 
    /* padding-left: 2%; */
    margin-top:-1%;
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: white;
  color: black;
}
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color:white;
  color: black;
}
/* .spaced_rows{
    border-collapse:separate; 
    border-spacing:0 15px; */
/* } */
/* tr{
    border-spacing: 1%;
} f79970*/