<body>
  <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
  <div class="container">
      <table>
        <tr>
          <th>IP ADDRESS</th>
          <th>CLIENT</th>
          <th>LOGIN TIME</th>
          <th>DEVICE</th>
        </tr>
      </table>
      <table class="table-striped">
        <tr class="card1" *ngFor="let c of clients, let i = index">
          <td class="spaced_data">{{c.ip}}</td>
          <td>{{c.client}}</td>
          <td>{{c.time}}</td>
          <td>{{c.device}}</td>
        </tr>
      </table> 
  </div>
</body>