body{
    /*background:url("../../assets/login4.jpg");*/
    overflow: hidden;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    background:#e5e7e5;
}
.card{
    box-shadow: 0 10px 20px rgba(255,255,255,0.10);
    border: 1px solid #ffffff;
    margin-top: 8%;
    margin-bottom:8%;
    font-family: 'Noticia Text', serif;
    font-size: 20px;
    background: #ffffff;

}
table{
    border-radius: 5px;
}
.card:hover{
    box-shadow: 0 20px 30px rgba(255,255,255,0.40);
}
.card_header{
    text-align: center;
    background: #f8901f;
    color:#1a1a1a;
    height:auto;
    margin:0px;
    padding-top:2%;
    padding-bottom:1%;
    font-weight:900;
}