<!-- <body>
  <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="card">
        <p>Please click on the Start button and read out the sentence which will appear on screen.</p>
        <p class="sentence">{{sentence}}</p>
        <a (click)="initiateRecording()" class="btn btn-primary button submit_button" *ngIf="!recording"> Start Recording </a>
        <a (click)="stopRecording()" class="btn btn-danger button submit_button" *ngIf="recording"> Stop Recording </a>
        <div class="clearfix"></div>
       <audio controls="" *ngIf="url">
          <source [src]="sanitize(url)" type="audio/wav">
        </audio>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>

</body> -->
<!-- <script type="text/javascript">
  function sendData() {
    var data =
    {
      "callbackurl": "hackerrank.com/dashboard",
      "domainName": "hackerrank.com",
      "username": "sagarika12",
      "name": "varsha kukreja"
    };
    Android.setResponse(JSON.stringify(data));
    return false;
  }
</script> -->

<h3>{{sentence}}</h3>
<a (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording"> Start Recording </a>
<a (click)="stopRecording()" class="btn btn-danger" *ngIf="recording"> Stop Recording </a>
<div class="clearfix"></div>
<audio #audio id="audio" controls="" *ngIf="url">
  <source [src]="sanitize(url)" type="audio/mp3">
</audio>