
<body>
  <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" id="app">
      <div class="card">
        <div><video #video id="video" autoplay></video></div>
        <div class="lower_part"><button id="submit_button" (click)="capture()">Snap Photo</button></div>
        <canvas #canvas id="canvas"></canvas>
        <!--<ul>
          <li *ngFor="let c of captures">
            <img src="{{ c }}" height="50" download />
          </li>
        </ul>-->
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</body>
