<div class="container">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <h4>Welcome to TigerAuth</h4>
      <form [formGroup]="registerForm">
        <div class="form-group">

          <div class="form-control">
            <label for="first_name">First Name</label>
            <br>
            <input type="text" formControlName="first_name" placeholder="First Name" (change)="change()">
          </div>
          <br>

          <div class="form-control" style="border: none">
            <label for="last_name">Last Name</label>
            <br>
            <input type="text" formControlName="last_name" placeholder="Last Name">
          </div>
          <br>

          <div class="form-control">
            <label for="username">Username</label>
            <br>
            <input type="text" (change)="verifyUsername()" formControlName="username" placeholder="Username">
          </div>
          <br>
          <h3 *ngIf="registerForm.get('username').touched && !usernameValid">Please enter a valid username</h3>

          <div class="form-control">
            <label for="mobile">Mobile</label>
            <br>
            <input type="number" formControlName="mobile" placeholder="Mobile">
          </div>
          <br>

          <div class="form-control">
            <label for="dob">Date of Birth</label>
            <br>
            <input type="date" formControlName="dob" placeholder="Date of Birth">
          </div>
          <br>

        </div>
        <br>

        <button class="btn btn-secondary" [disabled]="!registerForm.valid || !usernameValid"
          (click)="submitForm()">Register</button>
        <br>
      </form>

    </div>
    <div class="col-md-4">

    </div>

  </div>
</div>

<!-- !fundTransferForm.get('accidben').valid &&
    fundTransferForm.get('accidben').touched -->