body{
    background:url("../../assets/login4.jpg");
    overflow: hidden;
    background-size: cover;
    width: 100%;
    min-height: 100%;
}
.card{
    box-shadow: 0 10px 20px rgba(255,255,255,0.10);
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top: 8%;
    margin-bottom:8%;
    font-family: 'Noticia Text', serif;
    font-size: 20px;
    background: #ffffff;

}
.card:hover{
    box-shadow: 0 20px 30px rgba(255,255,255,0.40);
}
#submit_button{
    display: block; 
    margin-left:auto;
    margin-right: auto;
    width:50%;
    padding-top:3%;
    padding-bottom:4%;
    background:#043246;
    color:white;
    border-radius: 10px;
    margin-top:-8%;
    margin-bottom:-2%;
}
#submit_button:hover{
    box-shadow: 0 18px 22px 0 rgba(0,0,0,0.40)
}
.form_element{
    margin-top:2%;
    margin-bottom:1%;
    margin-left:7%;
    width:90%;
    background: #ffffff;
}
.input_field{
    border: none;
    border-bottom: 1px solid #1a1a1a;
    width:90%;
    background: #ffffff; 
    opacity: 0.7; 
    filter: alpha(opacity=70);
   
}
.label{
    font-weight:600;
    color:#1a1a1a;
   
}
.card_header{
    text-align: center;
    background: #ffffff;
    color:#1a1a1a;
    height:auto;
    margin:0px;
    padding-top:2%;
    padding-bottom:1%;
    font-weight:900;
}
::input-placeholder{
    padding-top:1%;
}